<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TaoyuanDMS.API.dll" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <!--
        OnlyOffice 反向代理：把 https://dms/onlyoffice/* 轉到 Ubuntu DocServer
        前提：IIS 需安裝
          1. URL Rewrite Module 2.1
          2. Application Request Routing (ARR) 3.0 並啟用 "Enable Proxy"
        若 DocServer IP 變更,改下面 http://172.30.134.99/{R:1}
      -->
      <rewrite>
        <rules>
          <rule name="OnlyOfficeProxy" stopProcessing="true">
            <match url="^onlyoffice/(.*)" />
            <action type="Rewrite" url="http://172.30.134.99/{R:1}" />
            <serverVariables>
              <set name="HTTP_X_FORWARDED_PROTO" value="https" />
              <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            </serverVariables>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
